@use "../../styles/global" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  h2 {
    color: $blue;
    span {
      color: $purple;
    }
  }

  padding: 42px 0;
  background: $gray-700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 100dvh;
  width: 100%;
  background: $gray-600;
  padding-bottom: 22px;
  >div{
    max-width: 60%;
    width: 100%;
   >form {
      width: 100%;
      margin-top: -30px;
      display: flex;
      gap: 6px;

      input {
        flex:1;
        height: 54px;
        padding: 6px;

        border-radius: 8px;
        background: $gray-500;
        border: 1px solid $gray-700;
        color: $gray-100;
        font-size: 1.125rem;
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px $blue;
        }
      }

      > button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 12px;
        border-radius: 8px;
        border: none;
        background: $blue-dark;
        color: $gray-100;
        font-size: 1.125rem;
        font-weight: bold;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 12px;
    }
  }
}

.header__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: 0.875rem;


  >span:first-child {
    color: $blue;
    font-weight: bold;
  }

  >span:last-child {
    display: block;
    padding: 4px 8px;
    background: $gray-400;
    border-radius: 50%;
    font-weight: bold;
  }
}
.badge--purple {
  >span:first-child {
    color: $purple;
  }
  > span:last-child {
    padding: 8px;
  }
}


.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  strong {
    font-size: 1.125rem;
    color: $gray-300;
  }

  span {
    font-size: 0.875rem;
    color: $gray-300;
  }
}
