@use "../../styles/global" as *;

.layer {
  position: absolute;
  inset:  0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  background: $gray-600;

  max-width: 40%;
  width: 100%;
  padding: 16px;
  border-radius: 6px;

  header{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 1.125rem;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 12px;
    }
  }


}
